<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>addEmployer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/assets/css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-dark">
        <div class="container-fluid"><img class="me-3" width="48px;" height="48px;" src="{{ url_for('static', filename='images/tayseer_logo_dark.jpg') }}" style="border-radius: 150px;"><a class="navbar-brand text-white" href="#" style="margin-left: 3%;">Tayseer Agency</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active text-white" href="{{ url_for('index') }}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-white" href="{{ url_for('addEmployer', employee_id=employee.id, location=location) }}">Register Employer</a></li>
                    </ul>
                </div>
        </div>
    </nav>
    <div align="center" style="margin-top: 10%;">
        <h1 style="margin-left: 1%; margin-top: 1%;">Add Employer for<br><b><u><i>{{employee.name}}</i></u></b></h1>
    </div>
    <div class="row">
        <div class="col-md-4 container">
            <form method="post" class="form-control" action="{{ url_for('register_employer', employee_id=employee.id, location=location) }}" style="border: 0px;">
                <div class="form-floating mb-3"><input class="form-control" type="text" id="floatingInput" name="name" placeholder="Full Name" required><span><font color='red'>{{message[0]}}</font></span></div>
                
                <div class="form-floating mb-3"><input class="form-control" type="text" placeholder="National ID#" name="national_id" required><span><font color='red'>{{message[1]}}</font></span></div>
                
                <div align="center" style="border: 0px;"><button class="btn btn-primary" type="submit">Submit</button></div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='styles/assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='styles/assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>